extend layout
block moreLinks
	a(href='/settings/#{name}') Settings
	span  
block message
	span Hello #{name}! Time to learn!
block content
	.content_box.span-2.prepend-1.middle_box
		h2 Profile
		p
			| Username: 
			strong #{name}
			br
			| Member Since: 
			strong uh
			
	.content_box.span-5.middle_box
		h2 Active Conversations
		if (user.activeSessions != null) 
			-each message in user.activeSessions
				a(href='/session/#{message[0]}') Talking with #{message[1]} about #{message[2]}
				br
	.content_box.span-3.last.middle_box
		h2 New Session
		form(action='/session', method='post')
			h4 Category:
				input(type='text', id='category', name='category')
			h4 Topic:
				input(type='text', id='topic', name='topic')
			input(type='submit', value='Find Random User')
